@use "./variables" as *;

.author-manga-list-container {
    .pagination-container {
        margin-top: $spacing-lg;
        text-align: center;

        .ant-pagination {
            display: flex;
            justify-content: center;
        }
    }
}
