@use "./variables" as *;

.cartoon-home-view {
    min-height: calc(100vh - 120px);

    .cartoon-home-container {
        border-radius: 8px;
        padding: 0 24px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        color: $text-primary;

        @include dark-theme {
            color: $dark-text-primary;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
        }
    }
}
