@use "./variables.scss" as *;

:root {
    --font-family: "Cascadia Code", "霞鹜文楷", "喵字果汁体", "微软雅黑", "Courier New", Courier, monospace;
}

*,
.ant-input,
.ant-typography {
    font-family: var(--font-family);
}

/* 自定义滚动条样式 - 使其更加不显眼 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba($black, 0.2);
    border-radius: $border-radius-medium;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba($black, 0.3);
}

/* 在暗色主题下的滚动条 */
@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
        background-color: rgba($white, 0.2);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba($white, 0.3);
    }
}

/* 全局暗色主题样式 */
html.dark {
    background-color: $dark-bg-primary;
    color: $dark-text-primary;

    body {
        background-color: $dark-bg-primary;
        color: $dark-text-primary;
    }

    /* 暗色主题下的滚动条 */
    ::-webkit-scrollbar-thumb {
        background-color: rgba($white, 0.2);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba($white, 0.3);
    }

    ::-webkit-scrollbar-track {
        background: rgba($white, 0.1);
    }
}

.ant-card-body {
    padding: 12px !important;
}
