@use "./variables.scss" as *;

:root {
    --font-family: "Cascadia Code", "霞鹜文楷", "喵字果汁体", "微软雅黑", "Courier New", Courier, monospace;
}

*,
pre,
.ant-input,
.ant-tag,
.ant-typography {
    font-family: var(--font-family), serif;
}

/* 全局样式 */

.ant-card-body {
    padding: 12px !important;
}

.ant-skeleton-content {
    padding: 10px;
}

.ant-message-notice-content {
    position: relative;
    top: 34px;
}

.custom-msg-btn {
    right: -10px;
    position: fixed;
}

.success-btn {
    background-color: $success-color;
}

/* 全局滚动条样式 */
* {
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent;

    @include dark-theme {
        scrollbar-color: rgb(255 255 255 / 10%) #ffffff00;
    }
}
