@use "./variables" as *;

.help-text {
    color: #999;
    font-size: 12px;
    margin-top: 4px;
}

.restart-help {
    color: #666;
    font-size: 13px;
}

.current-source {
    font-weight: 600;
    color: #1890ff;
}

.ant-input-group {
    display: flex;
}

.ant-list-item-meta-title {
    margin-bottom: 4px !important;
}
